@use '../../index.scss' as *;

.panel {
    background-color: $oxford;
    height: 100vh;
    overflow-x: hidden;
    padding: 20px 20px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y:hidden;
    transition: left 0.4s ease, right 0.4s ease, width 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navCollapse {
    left: -250px;
}

.buttonSpace {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    a {
        text-decoration: none;
    }
}

@media (max-width: 600px) {
    
    .panel {
        width: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: left 0.4s ease, right 0.4s ease, width 0.4s ease;
        justify-content: space-between;
    }

    .navCollapse {
        left: -54px;
    }

}