@use '../../index.scss' as *;

.inner-page {
    display: flex;
    height: 100vh;
}

.main-content {
    padding: 20px 50px;
    position: relative;
    flex-grow: 1;
    margin-left: 250px; 
    height: 100%;
    overflow-y: auto;
    transition: 0.5s ease;
    &.closed {
        margin-left: 0; /* Add this line */
    }
}

.freespace {
    height: 70px;
    margin-top: -40px;
}

.hamburger {
    position: fixed;
    top: 20px;
    left: 250px;
    width: 30px;
    height: 30px;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    background-color: $oxford;
    border: none;
    outline: none;

    transition: left 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    span {
        background-color: white;
        border-radius: 2px;
        height: 2px;
        width: 18px;
    }

    &.collapsed {
        left: 0;
    }
}

.bottom {
    position: fixed;
    bottom: 0px;
    right: 36px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $oxford;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    a {
        text-decoration: none;
    }
}


@media (max-width: 600px) {
    .main-content {
        padding: 20px 50px;
        position: relative;
        flex-grow: 1;
        margin-left: 54px; 
        height: 100%;
        overflow-y: auto;
        transition: 0.5s ease;
    }

    .closed {
        margin-left: 0; /* Add this line */
    }
    .hamburger {
        left: 54px;
        transition: left 0.4s;
    }
    .collapsed {
        left: 0;
    }
}