.home {
    background-image: url('../../assets/backgroundpng.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 10px 15% 10px;
}

@media (max-width: 520px) {
    .home {
        padding: 30% 10px 15% 10px;
    }
    
}