@use '../../index.scss' as *;

.navigation a {
    text-decoration: none;
}
.item {
    display: flex;
    gap: 14px;
    margin-bottom: 25px;
    align-items: center;

    &:hover {
        .icon, .link {
            color: $shamrock;
        }
    }

    .icon {
        color: $raven;
        width: 30px;
        text-align: center;

        svg {
            width: 14px;
        }
    }

    .link {
        text-decoration: none;
        color: $raven;
        font-size: 16px;
        font-weight: 400;
    }

}

@media (max-width: 600px) {
    
    .link {
        display: none;
    }

}