@use '../../index.scss' as *;


.timeline {
    position: relative;
    min-height: 30vh;
    max-height: 80vh;
    overflow-y: scroll;
}
.content {
    display: grid;
    grid-template-columns: 55px auto;
}
.green-line {
    width: 5px;
    height: 100%;
    background-color: $shamrock;
    position: relative;
    left: 20px;
    // position: absolute;
}
.container {
    position: relative;
    left: -17px;
    // padding-left: 50px;
}
.text-box {
    background-color: #EEEEEE;
    padding: 5px 20px;
    margin-left: 30px;
    position: relative;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 15px;
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
}
.pointer-arrow {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 24px;
    z-index: -1;
    background-color: #EEEEEE;
    
    transform: rotate(150.5deg) skewX(30deg) scaleY(cos(30deg));
    border-bottom-right-radius: 2px;
    
    left: -7px;
}
.date {
    position: absolute;
    width: 40px;
    left: -30px;
    top: 17px;
    z-index: 100;
    background-color: white;
    padding: 10px 0;
}

.timeline-error {
    color: red;
    position: absolute;
    top: 25%;
    left: 25%;
}

.loading-container {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading{
    color: $shamrock;
    animation: loading 1s linear infinite;
    @keyframes loading {
     0% { 
       transform: rotateZ(0); 
     }
     100% { 
       transform: rotateZ(180deg);
     }
    }
   }
