@use '../../index.scss' as *;

.portfolioInfo {
    background-color: white;
    opacity: 0.9;
    border: solid $alto 1px;
    width: 240px;
    height: 150px;
    padding: 10px;
    h4 {
        color: $shamrock;
        font-size: 16px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    a {
        font-size: 14px;
        font-weight: 400;
        color: $shamrock;
    }
}