$oxford: #222935;
$raven: #667081;
$shamrock: #26C17E;
$gallery: #EEEEEE;
$alto: #DDDDDD;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}