@use '../../index.scss' as *;

.contact {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 38px;
    margin-bottom: 20px;
    align-items: center;
}

.icon {
    color: $shamrock;
    font-size: 20px;
}

.contact-data {
    a {
        text-decoration: none;
        h4 {
            font-size: 16px;
            color: $oxford;
        }
        p {
            font-size: 16px;
            color: $raven;
        }
    }
}